{% extends '_base.html' %}

{% block title %} ASD - Login Operatore {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_not_authenticated %}

<div class="row justify-content-md-center" >
    <div class="col-md-4 text-center mt-3 pt-3 pb-4">
        <h4>Log In Operatore ASD</h4>
        <form id="#" name="#" action="#" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Accedi</button>
        </form>
    </div>
</div>



{% endblock content %}