{% extends '_base.html' %}

{% load static %}

{% block title %} ASD - Home Page {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
        <!-- BARRA di NAVIGAZIONE -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.jpg' %}" width="100rem" style="float: left"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-expand-xl" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="dropdown">
                        <a class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestione Servizi
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="opinsertservizio.php">Inserisci Servizio</a>
                            <a class="dropdown-item" href="{% url 'services' %}">Visualizza Servizi Erogati</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestione Documentazione
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                               href="opinsertmovimento.php">Registra Movimento Finanziario</a>
                            <a class="dropdown-item"
                               href="opvisualizzamovimenti.php">Visualizza Movimenti Finanziari</a>
                            <a class="dropdown-item"
                               href="opinsertiscrizione.php">Registra Iscrizione Atleta</a>
                            <a class="dropdown-item"
                               href="opvisualizzaiscrizioni.php">Visualizza Iscrizioni Atleti</a>
                            <a class="dropdown-item"
                               href="opinsertcertificazione.php">Registra Certficazione Sanitaria</a>
                            <a class="dropdown-item"
                               href="opvisualizzacertificazioni.php">Visualizza Certificazioni Sanitarie</a>
                            <a class="dropdown-item"
                               href="opinsertcompenso.php">Registra Compensi Collaboratori</a>
                            <a class="dropdown-item"
                               href="opvisualizzacompensi.php">Visualizza Compensi Collaboratore</a>
                            <a class="dropdown-item"
                               href="opinsertfattura.php">Registra Fatture</a>
                            <a class="dropdown-item"
                               href="opvisualizzafatture.php">Visualizza Fatture</a>
                            <a class="dropdown-item"
                               href="opinsertacquisto.php">Registra Acquisti</a>
                            <a class="dropdown-item"
                               href="opvisualizzaacquisti.php">Visualizza Acquisti</a>
                            <a class="dropdown-item"
                               href="opgestioneacquistiut.php">Acquisti e Ricevute Fiscali</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestione Anagrafiche
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="opvisualizzaatletiall.php">Gestione Atleti</a>
                            <a class="dropdown-item" href="opgestionecollab.php">Gestione Collaboratori</a>
                            <a class="dropdown-item" href="opgestionemedici.php">Gestione Medici </a>
                            <a class="dropdown-item" href="opgestionesocieta.php">Gestione Società </a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="btn btn-dark dropdown-toggle " type="button"
                           id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestione Bandi
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="bandiuno.php">Legge 17/1999 art. 22</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="btn btn-dark dropdown-toggle " type="button"
                           id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID Servizio</th>
      <th scope="col">Descrizione Servizio</th>
      <th scope="col">Costo</th>
      <th scope="col">Stato Erogazione</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>

  </thead>


  <tbody>
    {% for service in all_services_list %}
        <tr>
            <th scope = 'row' > {{ service.id}}</th>
            <td>{{ service.description}}
            <td>{{ service.price}}
            <td>{% if service.is_active == True %}
                    Attivo </td>
                    <td> <a href='#' class='btn btn-success col-md-12'> Archivia </a> </td>
                {% else %}
                    Archiviato </td>
                    <td> <a href='#' class='btn btn-danger  col-md-12'> Ripristina </a> </td>
                {% endif %}
            <td> <a href='#' class='btn btn-warning'> Modifica Servizio </a> </td> </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% else %}
YOU ARE NOT AUTHENTICATED
<a href="{% url 'home' %}" class='btn btn-info'> Go to homepage </a>
{% endif %}
{% endblock content %}